#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [78]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [80]:
df.groupby(by = "Branch")['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [87]:
df.groupby(by = "Branch")['City'].unique()

Branch
A       [Yangon]
B     [Mandalay]
C    [Naypyitaw]
Name: City, dtype: object

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [106]:
invoices_by_category = df.groupby(by = ["Branch", "Product line"]).size().unstack()
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [111]:
invoices_by_category["Electronic accessories"].agg(["idxmax", "max"])

idxmax     A
max       60
Name: Electronic accessories, dtype: object

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. **–ü–µ—Ä–µ–≤—ñ—Ä–∏—Ç–∏ —á–∏ –≤–ø–ª–∏–≤–∞—î —Å–ø–æ—Å—ñ–± –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫.**

In [65]:
df.groupby(by=['Payment'])['Total'].mean()

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

–í–∏—Å–Ω–æ–≤–æ–∫: –∑ –¥–∞–Ω–∏—Ö –≤–∏–¥–Ω–æ, —â–æ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —î –æ—Ä—ñ—î–Ω—Ç–æ–≤–Ω–æ –æ–¥–Ω–∞–∫–æ–≤–∏–π –ø–æ –ø–æ–∫—É–ø–∫–∞—Ö –Ω–µ–∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ –≤–∏–±–æ—Ä—É –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏. –ú–æ–∂–Ω–∞ –¥–æ–¥–∞—Ç–∫–æ–≤–æ —â–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —á–∏ –º–µ—Ç–æ–¥ –æ–ø–ª–∞—Ç–∏ –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö –ø–æ —Ä—ñ–∑–Ω–æ–º—É –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Ü–µ.

In [66]:
df.groupby(by=['City', 'Payment'])['Total'].mean()

City       Payment
Mandalay   Cash           321.267832
           Credit card    342.613362
           Ewallet        296.578354
Naypyitaw  Cash           347.466593
           Credit card    309.463929
           Ewallet        350.522491
Yangon     Cash           307.102282
           Credit card    318.218755
           Ewallet        312.098167
Name: Total, dtype: float64

–í–∏—Å–Ω–æ–≤–æ–∫: —î–¥–∏–Ω–∏–π –ø–æ–∫–∞–∑–Ω–∏–∫, —â–æ –≤–∏—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Ü–µ –æ–ø–ª–∞—Ç–∞ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫—Ä–∏–¥–∏—Ç–Ω–æ—ó –∫–∞—Ä—Ç–∏ –≤ –º—ñ—Å—Ç—ñ Naypyitaw. –í —Å–µ—Ä–µ–¥–Ω—å–æ–º—É —Ç–∞–∫—ñ —á–µ–∫–∏ –º–µ–Ω—à—ñ, –Ω—ñ–∂ —ñ–Ω—à—ñ. –ú–æ–∂–ª–∏–≤–æ –≤–∞—Ä—Ç–æ –≤–≤–µ—Å—Ç–∏ —è–∫—ñ—Å—å –∑–∞–æ—Ö–æ—á—É–≤–∞–ª—å–Ω—ñ –ø—Ä–æ–≥—Ä–∞–º–∏ –¥–ª—è —Ç–∏—Ö, —Ö—Ç–æ –∫–æ—Ä–∏—Å—Ç—É—î—Ç—å—Å—è —Ü–∏–º –º–µ—Ç–æ–¥–æ–º –æ–ø–ª–∞—Ç–∏, –∞–±–æ –∂ –Ω–∞–≤–ø–∞–∫–∏ —Å–∫–æ–Ω—Ü–µ–Ω—Ç—Ä—É–≤–∞—Ç–∏—Å—å –Ω–∞ —Ç–∏—Ö –º–µ—Ç–æ–¥–∞—Ö, —â–æ —î –±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º–∏.

2. **–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –≤–ø–ª–∏–≤ —Ä–µ–π—Ç–∏–Ω–≥—É –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –Ω–∞ –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤.**

In [67]:
df.groupby(by=['Rating'])['Total'].describe()

,count,mean,std,min,25%,50%,75%,max
Rating,,,,,,,,
4.0,11.0,362.410364,269.560613,48.7305,126.084000,231.24150,615.615000,688.7160
4.1,17.0,211.128441,218.140205,32.1510,78.435000,100.12800,223.587000,745.8360
4.2,22.0,421.632273,249.976360,55.8810,264.993750,335.19675,602.495250,944.6220
4.3,18.0,331.006083,293.297489,19.2465,71.197875,277.16850,544.238625,864.5700
4.4,17.0,395.092147,339.262282,51.0405,84.630000,300.57300,588.420000,1022.4900
...,...,...,...,...,...,...,...,...
9.6,17.0,328.956353,241.438148,41.0760,147.672000,295.69050,462.210000,939.5400
9.7,14.0,238.028250,189.600876,44.3520,92.788500,161.93100,364.848750,629.8425
9.8,19.0,261.943500,229.360880,14.6790,96.384750,217.18200,310.611000,887.9220
9.9,16.0,363.933281,222.419676,77.7735,190.118250,343.74900,526.677375,914.5500
10.0,5.0,416.070900,212.072227,77.9310,339.360000,520.41150,554.295000,588.3570

In [68]:
df['Rating Category'] = df.Rating.apply(lambda x: "High" if x >= 8 else ("Low" if x <= 6 else "Medium")).astype('category')

In [69]:
df.groupby(by=['Rating Category'])['Total'].describe()

,count,mean,std,min,25%,50%,75%,max
Rating Category,,,,,,,,
High,329.0,323.281404,242.080260,12.6945,136.143000,252.756,485.5725,1039.29
Low,341.0,341.739312,255.447452,10.6785,116.907000,281.169,506.6355,1034.46
Medium,330.0,303.254732,238.681896,16.1070,110.100375,222.012,431.1195,1042.65

–í–∏—Å–Ω–æ–≤–æ–∫: –∑ –¥–∞–Ω–∏—Ö –≤–∏–¥–Ω–æ, —â–æ –∫–ª—ñ—î–Ω—Ç—Å—å–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –Ω–µ –æ—Å–æ–±–ª–∏–≤–æ –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Ü—ñ–Ω—É —á–µ–∫—É. –ü—Ä–æ—Ç–µ –Ω–µ–∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –º–æ–∂—É—Ç—å –Ω–µ –ø–æ–≤–µ—Ä—Ç–∞—Ç–∏—Å—å, —Ç–æ–º—É –Ω–µ –≤–∞—Ä—Ç–æ –Ω–µ—Ö—Ç—É–≤–∞—Ç–∏ —Ü–∏–º –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º.

3. **–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—Ä–æ –∑–≤—è–∑–æ–∫ –º—ñ–∂ —Å—Ç–∞—Ç—Ç—é –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Ç–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—î—é —Ç–æ–≤–∞—Ä—ñ–≤, —â–æ –≤–æ–Ω–∏ –æ–±–∏—Ä–∞—é—Ç—å.**

In [70]:
df.groupby(by=['Gender','Product line'])['Total'].describe()

                               count        mean         std      min  \
Gender Product line
Female Electronic accessories   84.0  322.643125  247.064246  26.7225
       Fashion accessories      96.0  317.056250  231.938795  12.6945
       Food and beverages       90.0  368.565750  271.227129  23.7510
       Health and beauty        64.0  290.015414  215.252319  18.6375
       Home and lifestyle       79.0  380.213639  270.278721  25.2630
       Sports and travel        88.0  324.712739  246.696381  16.1070
Male   Electronic accessories   86.0  316.691965  246.261384  37.6110
       Fashion accessories      82.0  291.079207  257.236773  13.4190
       Food and beverages       84.0  273.499125  209.076132  22.6590
       Health and beauty        88.0  348.099460  250.885950  26.2500
       Home and lifestyle       81.0  294.136241  232.173065  14.6790
       Sports and travel        78.0  340.360327  251.593202  10.6785

                                      25%        50%         75%        max
Gender Product line
Female Electronic accessories  104.451375  248.59800  477.713250   942.4485
       Fashion accessories     145.467000  283.12725  439.251750  1042.6500
       Food and beverages      165.065250  306.55800  527.979375  1034.4600
       Health and beauty       101.642625  249.03900  444.743250   794.6505
       Home and lifestyle      148.176000  325.37400  560.196000  1022.4900
       Sports and travel       139.324500  229.79250  473.248125  1002.1200
Male   Electronic accessories  119.726250  213.41775  467.441625   931.0350
       Fashion accessories      94.618125  182.25900  442.643250  1039.2900
       Food and beverages      100.863000  209.11800  398.055000   939.5400
       Health and beauty       156.649500  275.27850  522.477375   950.2500
       Home and lifestyle      118.062000  217.25550  415.233000  1023.7500
       Sports and travel       126.441000  293.70600  493.221750   944.6220

–í–∏—Å–Ω–æ–≤–æ–∫: –©–æ–¥–æ **Electronic accessories —Ç–∞ Sports and travel**, —Ç–æ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –ø—Ä–∏–±–ª–∏–∑–Ω–æ –æ–¥–∏–Ω–∞–∫–æ–≤—ñ. 
–°—É—Ç—Ç—î–≤—É —Ä—ñ–∑–Ω–∏—Ü—é –≤–∏–¥–Ω–æ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö **Fashion accessories —ñ Food and beverages**. –¢—É—Ç –∂—ñ–Ω–∫–∏ –∫—É–ø—É—é—Ç—å –∑–Ω–∞—á–Ω–æ —á–∞—Å—Ç—ñ—à–µ —Ç–∞ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —É –Ω–∏—Ö –≤–∏—â–∏–π. –í–∞—Ä—Ç–æ –∑–≤–µ—Ä–Ω—É—Ç–∏ —É–≤–∞–≥—É –Ω–∞ —Ü–µ —ñ –≤–≤–µ—Å—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ —â–æ–¥–æ –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –ø–æ–∫–∞–∑–Ω–∏–∫—ñ–≤ —á–æ–ª–æ–≤—ñ–∫—ñ–≤ —É —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö —ñ —Ç–∞–∫–æ–∂ –≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó **Home and lifestyle** —ñ–∑ —Ç–∏—Ö –∂–µ –º—ñ—Ä–∫—É–≤–∞–Ω—å.
–£ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó **Home and lifestyle** –º–∞—î–º–æ –ø—Ä–æ—Ç–∏–ª–µ–∂–Ω—É —Å–∏—Ç—É–∞—Ü—ñ—é - –±—ñ–ª—å—à–µ —Ç–∞ —á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—é—Ç—å —á–æ–ª–æ–≤—ñ–∫–∏.